section {font-size: 85% }

/* img { */
/*     width: 50%; */
/* } */

.reveal .title {font-size: 300% }

section p {
    text-align: left;
}

section p.subtitle {
    text-align: center;
}

div.figure p {
    align: center;
    text-align: center;
    font-size: 40%;
    text-color: darkgray;
}

ul {
    text-align: left;
    align: left;	     
}


ul li {
    text-align: left;
}

.fragment .appear .visible {
    text-align: left;
}


table {
    position: absolute;
    left: -15%;
    width: 130%;
    font-size: 65%;
}

.right {
    width: 50%; /* Set the width to 33% */
    float: right; /* Float the element to the right */
    box-sizing: border-box; /* Include padding and border in the element's total width */

}

.left {
    width: 50%;
    float: left;
    box-sizing: border-box;
    height: 500px;
    overflow-y: auto;
    scroll-behavior: smooth; /* Enable smooth scrolling */
    scroll-margin-block: auto; /* Adjust scroll margin */
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    font-size: 60%;
    scroll-snap-align: start;
}


